<h1>Listing documents</h1>

<% @edit_privileges = false %>
<% @documents.each do |document| %>
	<article>	
		<h2><%= link_to(document.title, document) %></h2>
		<p class="summary"></p>
	<% if @edit_privileges then %>
    	<%= link_to 'Edit', edit_document_path(document), :class => "edit" %>
    	<%= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </article>

<% end %>

<%= link_to 'New Document', new_document_path %>
