<div id="documents-container">

<h1>All Documents</h1>

<!--<div class="tag-box">
	<div class="tags">
		<div class="tag-tag">Tag Name</div>
		<div class="tag-tag">These</div>
		<div class="tag-tag">Beautiful?</div>
	</div>
	<input type="text" class="tag-input" placeholder="Add a tag..."/>
</div>-->

<% @edit_privileges = false %>
<% @documents.each do |document| %>
	<article>	
		<h2><%= link_to(document.title, document) %></h2>
		<p class="summary"></p>
	<% if @edit_privileges then %>
    	<%= link_to 'Edit', edit_document_path(document), :class => "edit" %>
    	<%= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </article>

<% end %>

</div>